.container {
    width: calc(100% - 2rem);
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem 0;
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: auto 1fr auto;
    grid-gap: 2rem;
    min-height: 100vh;
}

main {
    grid-area: main;
    display: grid;
    grid-gap: 2rem;
}

.not-found {
    h1 {
        margin-bottom: .5rem;
    }
}