.resume {
    grid-template-areas: 'mission' '.' 'experience' '.' 'skills' '.' 'training' '.' 'education';

    @media (min-width: 600px) {
        grid-template-areas: 'mission mission' '. .' 'experience experience' '. .' 'skills skills' '. .' 'training education';
        grid-template-columns: repeat(2, 1fr);
    }

    h3 {
        margin-bottom: .25rem;
    }

    .mission {
        grid-area: mission;
        padding: 1rem 1.5rem;
        background: repeating-linear-gradient(-45deg, var(--stripes), var(--stripes) .25rem, transparent .25rem, transparent 1.125rem);

        @media (min-width: 768px) {
            padding: 2.5rem 3rem;
        }

        h2 {
            font-size: 2rem;
            text-shadow: 0 1px 2px var(--text-shadow);
        }
    }

    .experience {
        grid-area: experience;
        display: grid;
        grid-gap: 1.5rem;

        ul:not(.list) {
            margin-bottom: .25rem;
        }
    }

    .skills {
        grid-area: skills;
        display: grid;
        grid-gap: 1.5rem 2rem;

        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, min-content) 1fr;
            grid-gap: 1.5rem 2rem;

            .entry {
                &:first-of-type {
                    grid-row: span 2;
                }
            }

            h2 {
                grid-column: span 2;
            }
        }
    }

    .training {
        grid-area: training;
    }

    .education {
        grid-area: education;
    }
}